<html>
<link rel="stylesheet" href="/css/style.css">

<head>
    <!--<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>-->
    <body>

        <input type="hidden" id="userid" name="country" value="<%=user._id%>">
        <div id="loginBar">
            <% if (user) { %> <h3 id="username" style="color:black;text-decoration:none;float:left;"><%=user.username %></h3> <% } %>
            <ul>
                <% if (user) { %> <li><a href="/auth/signout" style="color:black;text-decoration:none">Log Out</a></li> <% } else { %> <li><a href="/signin" style="color:black;text-decoration:none">Sign In</a></li> <% } %>
                <li><a href="/signup" style="color:black;text-decoration:none">Sign Up</a></li>
            </ul>
        </div>

        <div id="logo">
            <a href="/"><img src="/img/logo.png"></a>
        </div>

        <div id="navBar">
            <ul>
            <li><a class="genreLink" href="action" style="color:black;text-decoration:none" id="genre">ACTION</a></li>
            <li><a class="genreLink" href="adventure" style="color:black;text-decoration:none">ADVENTURE</a></li>
            <li><a class="genreLink "href="horror" style="color:black;text-decoration:none">HORROR</a></li>
            <li><a class="genreLink "href="rpg" style="color:black;text-decoration:none">RPG</a></li>
            <li><a class="genreLink "href="fps" style="color:black;text-decoration:none">FPS</a></li>
            <li><a class="genreLink "href="simulation" style="color:black;text-decoration:none">SIMULATION</a></li>
            <li><a class="genreLink "href="sports" style="color:black;text-decoration:none">SPORTS</a></li>
            <li><a class="genreLink "href="indie" style="color:black;text-decoration:none">INDIE</a></li>
            <li><a class="genreLink "href="racing" style="color:black;text-decoration:none">RACING</a></li>
            <li><a class="genreLink "href="fighting" style="color:black;text-decoration:none">FIGHTING</a></li>
            </ul>
        </div>
        
        <div>
        <% 
        
            for(var i=0; i<games.length; i++) { %>
            <div style="margin: 5px; border: 3px solid grey; float: left;">
                <a href="/show/<%=games[i]._id%>" ><div >
                    <div id="<%=games[i]._id%>" style="font-family:Consolas; font-size:15px; font-weight:bold; text-align:center"><%=games[i].title%></div>
                    <img style="height:270px; width:200px;" src="<%=games[i].imageURL%>">
                    
                </div></a>
                <% if (user) { %>
                        <% if (user.vendor==true) { %>
                            <div id="<%=games[i]._id%>" style="text-align:center;">Price:<input type="number" style="border: 2px solid black; width:100px" id="gamePrice"><input class="addButton" type="submit" value="Add"></div>
                        <% } %>
                    <% } %>
            </div>
    <% } %>
    </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var addGame=
        {   
            gameID:"",
            storeID:"",
            price:""
        }
        
        $(".addButton").click(function(){
            alert("test");
            var gameId=$(this).parent().attr("id");
            var userID= $("#userid").val();
            var gamePrice=$(this).siblings().val();
            console.log(gameId);
            console.log(gamePrice);
            console.log("6666666" + userID);
            
            addGame.gameID=gameId;
            addGame.storeID = userID;
            addGame.price=gamePrice;
            
            if(gamePrice>0)
            {
                $.ajax({
                    method:"POST",
                    url:'/api/prices',
                    data: addGame
                }).done(function(response){
                    console.log(response);
            //   window.location.replace("/products/"+response._id);
                }).fail(function(response){
            //   $("#error").text(JSON.parse(response.responseText).message);
                console.log("This is the problem: " + JSON.parse(response.responseText).message);
                });   
            }
        });

    </script>
    </body>
</head>

</html>